   <footer >
          
          <div id="workarea">
            <div class="position">
          
              <!--start button, nothing above this is necessary -->
              <div class="svg-wrapper">
                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                  <rect id="shape" height="40" width="150" />
                  <div id="text">
                    <a href="/home"><span class="spot"></span>Home</a>
                  </div>
                </svg>
              </div>
              <!--Next button -->
              <div class="svg-wrapper">
                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                  <rect id="shape" height="40" width="150" />
                  <div id="text">
                    <a href="/about"><span class="spot"></span>About us</a>
                  </div>
                </svg>
              </div>
              <!--Next button -->
              <div class="svg-wrapper">
                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                  <rect id="shape" height="40" width="150" />
                  <div id="text">
                    <a href="/faq"><span class="spot"></span>FAQ</a>
                  </div>
                </svg>
              </div>
              <div class="svg-wrapper">
                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                  <rect id="shape" height="40" width="150" />
                  <div id="text">
                    <a href="/display"><span class="spot"></span>Model</a>
                  </div>
                </svg>
              </div>
              <!--End button -->
          
            </div>
          </div>
          
        </footer>